<!DOCTYPE html>
<html lang="ja">
<%= render('_head', { title: ENV['APP_NAME'] }) %>
<body>
    <div class="root">
		<%= render('_header', { title: ENV['APP_NAME'] }) %>
        <main class="main">
            <section class="sections">
                <h2>スレッド一覧 (新着20件)</h2>
                <% if threads.length == 0 %>
                <p>スレッドはまだありません</p>
                <% end %>
                <% threads.each do |thread| %>
                <div class="thread">
                    <a href="/view?id=<%= h(thread['id']) %>" class="thread-link">
                        <div class="thread-content">
                            <p class="thread-title">
                                <%= h(thread['title']) %>
                                <span class="reply-sum">
                                    (<%= thread['max_reply_number'] == 0 ? 1 : thread['max_reply_number'] %>)
                                </span>
                            </p>
                            <p class="thread-datetime">
                                <%= h(Time.parse(thread['datetime']).strftime('%Y/%m/%d %H:%M')) %>
                            </p>
                        </div>
                    </a>
                </div>
                <% end %>
            </section>
            <section id="create-thread">
                <h2>スレッドを立てる</h2>
                <div>
                    <form action="/create_thread" method="post" style="width: 300px;">
                        <p><input type="text" name="title" placeholder="タイトル" class="form-input" maxlength="<%= ENV['TITLE_MAX_LENGTH'] %>" required></p>
                        <p><input type="text" name="name" placeholder="名前" class="form-input" value="匿名希望くん" maxlength="<%= ENV['NAME_MAX_LENGTH'] %>" required></p>
                        <p><textarea name="content" placeholder="本文" maxlength="<%= ENV['CONTENT_MAX_LENGTH'] %>" style="resize: none;" required></textarea></p>
                        <p><input type="submit" value="送信"></p>
                    </form>
                </div>
            </section>
        </main>
    </div>
</body>
</html>