<!DOCTYPE html>
<html lang="ja">
<head>
<%= render('_head', { title: ENV['APP_NAME'] }) %>
</head>
<body>
    <div class="root">
        <%= render('_header', { title: ENV['APP_NAME'] }) %>
        <main class="main">
            <section class="sections">
                <h2>「<%= h(q) %>」の検索結果</h2>
                <p><%= threads_length > 0 ? "#{threads_length}件のスレッドが見つかりました" : "該当するスレッドは見つかりませんでした" %></p>
                <% threads.each do |thread| %>
                <div class="thread">
                    <a href="/view?id=<%= h(thread['id']) %>" class="thread-link">
                        <div class="thread-content">
                            <span class="thread-title">
                                <%= h(thread['title']) %>
                            </span>
                            <span class="thread-datetime">
                                <%= h(Time.parse(thread['datetime']).strftime('%Y/%m/%d %H:%M')) %>
                            </span>
                        </div>
                    </a>
                </div>
                <% end %>
            </section>
        </main>
    </div>
</body>
</html>