<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>掲示板 サンプル</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <link rel="stylesheet" href="public/css/style.css">
</head>
<body>
    <div class="root">
        <header class="header">
            <h1 class="header-title">掲示板 サンプル</h1>
            <p><a href="/">ホームへ戻る</a></p>
        </header>
        <main class="main">
            <article>
                <h2 id="thread-title"><%= thread["title"] %></h2>
                <section class="reply">
                    <div>
                        <span class="reply-number">1</span>
                        <span class="reply-name">
                            <%= h(thread['name']) %>
                        </span>
                        <span class="reply-datetime">
                            <%= h(Time.parse(thread['datetime']).strftime('%Y/%m/%d %H:%M')) %>
                        </span>
                        <div class="reply-content">
                            <%= h(thread['content']).gsub("\n", "<br />") %>
                        </div>
                    </div>
                </section>
                <% replys.each do |reply| %>
                <section class="reply">
                    <div>
                        <span class="reply-number">
                            <%= h(reply['reply_number']) %>
                        </span>
                        <span class="reply-name">
                            <%= h(reply['name']) %>
                        </span>
                        <span class="reply-datetime">
                            <%= h(Time.parse(reply['datetime']).strftime('%Y/%m/%d %H:%M')) %>
                        </span>
                        <div class="reply-content">
                            <%= h(reply['content']).gsub("\n", "<br />") %>
                        </div>
                    </div>
                </section>
                <% end %>
            </article>
            <section id="reply-form">
                <h3>返信する</h3>
                <div>
                    <form action="/post_reply" method="post" style="width: 300px;margin-top: 20px;" id="#reply-form">
                        <p><input type="hidden" name="thread_id" value="<%= thread['id'] %>"></p>
                        <p><input type="text" name="name" placeholder="名前" class="form-input"></p>
                        <p><textarea name="content" placeholder="本文" style="resize: none;"></textarea></p>
                        <p><input type="submit" value="送信"></p>
                    </form>
                </div>
            </section>
            <div style="width: 100%;height: 220px;"></div>
        </main>
    </div>
</body>
</html>